@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
<TelerikRootComponent>
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug"
                    InfoIcon="fa fa-info"
                    WarningIcon="fa fa-exclamation-triangle"
                    ShowProgressBar="@true" />


    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <Header />
        </nav>
        <aside class="sidebar" role="navigation">
            <LeftMenuLayout />
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </div>
</TelerikRootComponent>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/plugins/components/jquery/dist/jquery.min.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/cubic-html/bootstrap/dist/js/bootstrap.min.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/cubic-html/js/sidebarmenu.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/cubic-html/js/jquery.slimscroll.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/cubic-html/js/waves.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/cubic-html/js/custom.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/cubic-html/js/jasny-bootstrap.js");

            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/plugins/components/dropify/dist/js/dropify.min.js");

            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/assets/js/customcht.js");

            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/Cubic/plugins/components/styleswitcher/jQuery.style.switcher.js");
        }

    }
}



